<html>
<head>
<style type="text/css">
#fs{
float=center;
width:600px;
border:thinsolid#000000;
}
body
  {
    background-repeat:no-repeat;
    background-image: url('/1.jpg');
    background-position: cover;
    background-repeat: no-repeat;
}
</style>
</head>

<center>
<fieldset id="fs">
<table border=0>
<tr>
<tittle><center><h2><b><u><font color="skyblue">Login</font></u></b></center></tittle>

<tr><td><h3><font color="skyblue">Email Id:</font></td><td><input type="text" name=name size=25></td></tr>
<br>

<tr><td><h3><font color="skyblue">Password:</font></td><td><input type="password" name=password size=25></td></tr>
<br>

<tr><td><td><center><font color="skyblue"><input type=submit value=Login></font></center></td></td></tr>
</font>
</body>
</center>
</font>
</html>
