<html>
    <head>
        <style>
            @import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
            
            .main{
                position: relative;
                width: 5px;
                height: 20px;

            }
            .reg{
                position: re;
                left: 123.26%;
                right: 43.26%;
                top: 21.93%;
                bottom: 73.26%;

                font-family: Roboto Condensed;
                font-style: normal;
                font-weight: normal;
                font-size: 50px;
                line-height: 141px;
                /* identical to box height */

                letter-spacing: 0.01em;

                color: #000000;
            }
            .uid{
                position: absolute;
                left: 35.8%;
                right: 57.11%;
                top: 39.92%;
                bottom: 56.1%;

                font-family: Roboto Condensed;
                font-style: normal;
                font-weight: normal;
                font-size: 50px;
                line-height: 117px;
                letter-spacing: 0.01em;

                color: #000000;
            }
            .uidb{
                position: absolute;
                left: 46.17%;
                right: 26.4%;
                top: 39.07%;
                bottom: 55.31%;

                background: #FFFFFF;
            }
            .name{
            position: absolute;
            left: 36.88%;
            right: 57.11%;
            top: 48.09%;
            bottom: 47.92%;

            font-family: Roboto Condensed;
            font-style: normal;
            font-weight: normal;
            font-size: 100px;
            line-height: 117px;
            letter-spacing: 0.01em;

            color: #000000;
            }
            .nameb{
                position: absolute;
                left: 46.17%;
                right: 26.4%;
                top: 47.58%;
                bottom: 46.8%;

                background: #FFFFFF;
            }
            .eid{
                position: absolute;
                left: 34.85%;
                right: 57.11%;
                top: 57.97%;
                bottom: 38.04%;

                font-family: Roboto Condensed;
                font-style: normal;
                font-weight: normal;
                font-size: 100px;
                line-height: 117px;
                letter-spacing: 0.01em;

                color: #000000;
            }
            .eidb{
                position: absolute;
                left: 46.17%;
                right: 26.4%;
                top: 57.02%;
                bottom: 37.43%;

                background: #FFFFFF;
            }
            .pass{
                position: absolute;
                left: 33.16%;
                right: 57.11%;
                top: 67.85%;
                bottom: 28.17%;

                font-family: Roboto Condensed;
                font-style: normal;
                font-weight: normal;
                font-size: 100px;
                line-height: 117px;
                letter-spacing: 0.01em;

                color: #000000;
            }
            
            .passb{
                position: absolute;
                left: 46.17%;
                right: 26.4%;
                top: 67%;
                bottom: 27.38%;

                background: #FFFFFF;
            }

            .sub{
                position: absolute;
                    left: 46.07%;
                    right: 46.74%;
                    top: 82.83%;
                    bottom: 12.77%;

                    font-family: Roboto Condensed;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 110px;
                    line-height: 129px;
                    /* identical to box height */

                    letter-spacing: 0.01em;

                    color: #000000;
            }
            .subb{
                position: absolute;
                left: 37.85%;
                right: 37.85%;
                top: 81.4%;
                bottom: 10.93%;

                background: #FFFFFF;
                border-radius: 120px;
            }
            body{
                background-repeat:no-repeat;
                background-image: url('/2.jpg');
                background-size: cover;
                background-repeat: no-repeat;
            }
        </style>
    </head>
    <body>                 

        <div class="main">
            <div class="reg">Registration</div>
            <div class="uid">User name</div>
            <div class="uidb">Enter</div>
            <div class="name"></div>
            <div class="nameb"></div>
            <div class="eid"></div>
            <div class="eidb"></div>
            <div class="pass"></div>
            <div class="passb"></div>        
            <div class="sub"></div>
            <div class="subb"></div>            
        </div>

    </body>
</html>