<html>
<head>
<style type="text/css">
    #fs{
    float:center;
    width:600px;
    border:thinsolid#000000;
    }

    body{
        background-repeat:no-repeat;
        background-image: url('/1.jpg');
        background-position: cover;
        background-repeat: no-repeat;
    }
</style>
</head>
<body>
<form action="insert" method="post">
<center>
<fieldset id="fs">
<table border=0>
<tr>

<tittle><center><h2><b><u><font color="skyblue">Register Your Account</font></u></b></center></tittle>

<tr><td><h3><font color="skyblue">User Id:</font></td><td><input type="text" name=id size=25 width="40" height="20"></td></tr>
<br>

<tr><td><h3><font color="skyblue">Name:</font></td><td><input type="text" name=name size=25></td></tr>
<br>

<tr><td><h3><font color="skyblue">Email Id:</font></td><td><input type="text" name=email size=25></td></tr>
<br>

<tr><td><h3><font color="skyblue">Password:</font></td><td><input type="password" name=password size=25></td></tr>
<br>

<tr><td><td><center><font color="skyblue"><input type=submit value=Register></font></center></td></td></tr>


</form>
</center>
</body>
</html>

<!-- <!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>CSS3 Contact Form</title>
</head>
<body>
<div id="contact">
    <h1>Send an email</h1>
    <form action="/myaction" method="post">
        <fieldset>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" placeholder="Enter your full name" />

            <label for="email">Email:</label>
            <input type="email" id="email" placeholder="Enter your email address" />

            <label for="message">Message:</label>
            <textarea id="message" placeholder="What's on your mind?"></textarea>

            <input type="submit" value="Send message" />

        </fieldset>
    </form>
</div>
</body>
</html> -->